body {
    background: #696969;
    color: silver;
    font-family: 'Roboto', sans-serif; 
}

h1, h2 {
    color: #DC143C;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

img {
    height: 150px;
    width: 100px;
}

.intro {
    text-align: center;
}

.menu {
    text-align: right; 
    display: flex;
    width: 100%;
    min-width: 320px;
    background-color: black;
    justify-content: space-between;
    margin: 10px auto;
}

ul {
    font-size: smaller;
    align-content: center;
    margin: 10px;
}

li {
    display: none;
}

.menu ul li {
    transition: background-color .5s, color .5s;
}

.menu ul li:hover {
    background-color: #dc143c;
    color: white;
}

.hamburger {
    color: gold;
    font-size: 24px;
}

p {
    text-align: center;
    font-size: 14px;
}

.resume {
    text-align: right;
    /*cursor: pointer;*/
}

/*.contactInput {
    display: inline-flex;
    position: absolute;
    flex-wrap: wrap;
}

.name {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.email {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.phone {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.message {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*cursor: pointer;
} */

iframe {
    width: 250px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    display: inline-flex;
    top: 200px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    display: inline;
}



h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #E4303D;
}

.project-images {
    height: 300px;
    width: 250px;
    display: grid;
    padding: 0 35px 0 35px; 
}

footer {
    background-color: black;
    height: 50px;
}

.footer {
    text-align: left;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    ul {
        font-size: smaller;
        align-content: center;
        margin: 10px;
    }
    
    ul, li {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 3px;
        /*cursor: pointer;*/
    }
    p {
        text-align: center;
        font-size: 18px;
    }
    
}

@media (min-width: 992 px) {
    .hamburger {
        display: none;
    }
    ul {
        font-size: smaller;
        align-content: center;
        margin: 10px;
    }
    
    ul, li {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 3px;
        cursor: pointer;
    }
    
    p {
        text-align: center;
        font-size: 24px;
    }
}